{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>The News Reporter</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'assets/font/font-awesome.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'assets/font/font.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css' %}" media="screen" />
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}" media="screen" />
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/responsive.css'%}" media="screen" />
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/jquery.bxslider.css' %}" media="screen" />
</head>
<body>
<div class="body_wrapper">
  <div class="center">
    <div class="header_area">
      <div class="logo floatleft"><a href="{% url 'Home' %}"><img src="{% static 'images/logo.png' %}" alt="" /></a></div>
    </div>
    <div class="main_menu_area">
      <ul id="nav">
        <li><a href="{% url 'Topic' topic='world' %}">world news</a></li>
        <li><a href="{% url 'Topic' topic='sports' %}">sports</a></li>
        <li><a href="{% url 'Topic' topic='technology' %}">tech</a></li>
        <li><a href="{% url 'Topic' topic='business' %}">business</a></li>
        <li><a href="{% url 'Topic' topic='entertainment' %}">entertainment</a></li>

      </ul>
      <div class="search">
          <form  method="post" id="search_form">
            {% csrf_token %}
            <input type="text" placeholder="Search news" id="s" name="Type" />
             <button type="submit" id="submit" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span>
              </button>
            <!-- <input type="submit" id="searchform" value="search" /> -->
            <!-- <input type="hidden" value="post" name="post_type" /> -->
          </form>
        </div>
        
    </div>
    <div class="slider_area">
      <div class="slider">
        <ul class="bxslider">
          <li><img src="{% static 'images/1.jpg'%}" alt="" title="Slider caption text" /></li>
          <li><img src="{% static 'images/2.jpg' %}" alt="" title="Slider caption text" /></li>
          <li><img src="{% static 'images/3.jpg' %}" alt="" title="Slider caption text" /></li>
        </ul>
      </div>
    </div>
   <!--
   <div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
  {
  "symbols": [
    {
      "description": "hello",
      "proName": "NSE:TATASTEEL"
    },
    {
      "description": "",
      "proName": "BSE:RELIANCE"
    },
    {
      "description": "",
      "proName": "BSE:HDFCBANK"
    },
    {
      "description": "",
      "proName": "NSE:NIFTY"
    },
    {
      "description": "",
      "proName": "NSE:SINTEX"
    },
    {
      "description": "",
      "proName": "NSE:ICICIBANK"
    },
    {
      "description": "",
      "proName": "BSE:SENSEX"
    },
    {
      "description": "",
      "proName": "BSE:BAJFINANCE"
    },
    {
      "description": "",
      "proName": "BSE:TATAMOTORS"
    },
    {
      "description": "",
      "proName": "BSE:IRCTC"
    },
    {
      "description": "",
      "proName": "NSE:TCS"
    },
    {
      "description": "",
      "proName": "NSE:NSIL"
    }
  ],
  "colorTheme": "dark",
  "isTransparent": false,
  "displayMode": "adaptive",
  "locale": "in"
}
  </script>
</div> -->
<!-- TradingView Widget END -->
   <div class="rolling">
    <marquee width="100%" direction="left" > 
     <h2 style="color: green;"><pre>{% for val in stock %}{{val.name}}{{val.cost}}{{val.percent}} ||{% endfor %}</pre></h2>  
   </marquee>
  </div>
    <div class="content_area">
      <div class="main_content floatleft">
        <div class="left_coloum floatleft">
          <h2 class="title">from   around   the   world</h2>
          <div class="single_left_coloum_wrapper">
            {% for num in TopHeadlines %}
            <div class="single_left_coloum floatleft"> <img src={{num.urlToImage}} alt="" />
              <h3>{{num.title}}</h3>
              <p>{{num.description}}</p>
              <a class="readmore" href={{num.url}}>read more</a> </div>
              {% endfor %}
            <!-- <div class="single_left_coloum floatleft"> <img src="images/single_featured.png" alt="" />
              <h3>Lorem ipsum dolor sit amet, consectetur</h3>
              <p>Nulla quis lorem neque, mattis venenatis lectus. In interdum ullamcorper 
                dolor eu mattis.</p>
              <a class="readmore" href="#">read more</a> </div>
            <div class="single_left_coloum floatleft"> <img src="images/single_featured.png" alt="" />
              <h3>Lorem ipsum dolor sit amet, consectetur</h3>
              <p>Nulla quis lorem neque, mattis venenatis lectus. In interdum ullamcorper 
                dolor eu mattis.</p>
              <a class="readmore" href="#">read more</a> </div>
              <div class="single_left_coloum floatleft"> <img src="images/single_featured.png" alt="" />
              <h3>Lorem ipsum dolor sit amet, consectetur</h3>
              <p>Nulla quis lorem neque, mattis venenatis lectus. In interdum ullamcorper 
                dolor eu mattis.</p>
              <a class="readmore" href="#">read more</a> </div>
              <div class="single_left_coloum floatleft"> <img src="images/single_featured.png" alt="" />
              <h3>Lorem ipsum dolor sit amet, consectetur</h3>
              <p>Nulla quis lorem neque, mattis venenatis lectus. In interdum ullamcorper 
                dolor eu mattis.</p>
              <a class="readmore" href="#">read more</a> </div>
              <div class="single_left_coloum floatleft"> <img src="images/single_featured.png" alt="" />
              <h3>Lorem ipsum dolor sit amet, consectetur</h3>
              <p>Nulla quis lorem neque, mattis venenatis lectus. In interdum ullamcorper 
                dolor eu mattis.</p>
              <a class="readmore" href="#">read more</a> </div>
              <div class="single_left_coloum floatleft"> <img src="images/single_featured.png" alt="" />
              <h3>Lorem ipsum dolor sit amet, consectetur</h3>
              <p>Nulla quis lorem neque, mattis venenatis lectus. In interdum ullamcorper 
                dolor eu mattis.</p>
              <a class="readmore" href="#">read more</a> </div>
              <div class="single_left_coloum floatleft"> <img src="images/single_featured.png" alt="" />
              <h3>Lorem ipsum dolor sit amet, consectetur</h3>
              <p>Nulla quis lorem neque, mattis venenatis lectus. In interdum ullamcorper 
                dolor eu mattis.</p>
              <a class="readmore" href="#">read more</a> </div>
              <div class="single_left_coloum floatleft"> <img src="images/single_featured.png" alt="" />
              <h3>Lorem ipsum dolor sit amet, consectetur</h3>
              <p>Nulla quis lorem neque, mattis venenatis lectus. In interdum ullamcorper 
                dolor eu mattis.</p>
              <a class="readmore" href="#">read more</a> </div> -->
          </div>
        </div>
        <div class="right_coloum floatright">
          <div class="single_right_coloum">
            <h2 class="title">COVID-19</h2>
            
            <div class="card bg-danger text-white " style="background-color: #FFE5CC;">
              <div class="card-title" style="color: red;">Confirmed</div>
              <div class="card-body" style="color: red;">
                <h5>+{{Change.ChangeConfirm}}</h5>
              </div>
              <div class="card-number" style="color: red;">
                  <p>{{Cdata.Confirmed}}</p>
              </div>
            </div>
            <div class="card bg-danger text-white" style="background-color: #CCE5FF;">
              <div class="card-title" style="color: blue;">Active</div>
              <div class="card-body" style="color: blue;">
                <h5></h5>
              </div>
              <div class="card-number" style="color: blue;">
                  <p>{{ Cdata.Active }}</p>
              </div>
            </div>
            <div class="card bg-danger text-white"  style="background-color:#CCFFCC;">
              <div class="card-title" style="color:green;">Recovered</div>
              <div class="card-body" style="color:green;">
                <h5>+{{Change.ChangeRecover}}</h5>
              </div>
              <div class="card-number" style="color:green;">
                  <p>{{Cdata.Recovered}}</p>
              </div>
            </div>
            <div class="card bg-danger text-white" style="background-color: #E0E0E0;">
              <div class="card-title">Deceased</div>
              <div class="card-body">
                <h5>+{{Change.ChangeDeath}}</h5>
              </div>
              <div class="card-number">
                  <p>{{Cdata.Deaths}}</p>
              </div>
            </div>
        </div>
      </div>
      </div>
      <div class="sidebar floatright">
        <div class="single_sidebar">
          <div class="popular">
            <h2 class="title">Popular</h2>
            <ul>
              {% for val in Popularity %}
              <li>
                <div class="single_popular">
                  <p>{{val.publishedAt}}</p>
                  <h3>{{val.title}} <a href={{val.url}} class="readmore">Read More</a></h3>
                </div>
              </li>
              {% endfor %}
              <!-- <li>
                <div class="single_popular">
                  <p>Sept 24th 2045</p>
                  <h3>Lorem ipsum dolor sit amet conse ctetur adipiscing elit <a href="#" class="readmore">Read More</a></h3>
                </div>
              </li>
              <li>
                <div class="single_popular">
                  <p>Sept 24th 2045</p>
                  <h3>Lorem ipsum dolor sit amet conse ctetur adipiscing elit <a href="#" class="readmore">Read More</a></h3>
                </div>
              </li>
              <li>
                <div class="single_popular">
                  <p>Sept 24th 2045</p>
                  <h3>Lorem ipsum dolor sit amet conse ctetur adipiscing elit <a href="#" class="readmore">Read More</a></h3>
                </div>
              </li>
              <li>
                <div class="single_popular">
                  <p>Sept 24th 2045</p>
                  <h3>Lorem ipsum dolor sit amet conse ctetur adipiscing elit <a href="#" class="readmore">Read More</a></h3>
                </div>
              </li> -->
            </ul>
            <a class="popular_more">more</a> </div>
        </div>

  </div>
  <a class="twitter-timeline" data-width="400" data-height="400" data-theme="dark" href="https://twitter.com/googlenews?ref_src=twsrc%5Etfw">Tweets by BBCWorld</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
</div>
<script type="text/javascript" src="{% static 'assets/js/jquery-min.js' %}"></script> 
<script type="text/javascript" src="{% static  'assets/js/bootstrap.min.js' %}"></script> 
<script type="text/javascript" src="{% static 'assets/js/jquery.bxslider.js' %}"></script> 
<script type="text/javascript" src="{% static 'assets/js/selectnav.min.js' %}"></script> 
<script type="text/javascript">
selectnav('nav', {
    label: '-Navigation-',
    nested: true,
    indent: '-'
});
selectnav('f_menu', {
    label: '-Navigation-',
    nested: true,
    indent: '-'
});
$('.bxslider').bxSlider({
    mode: 'fade',
    captions: true
});
</script>
</body>
</html>
