{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>The News Reporter</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'assets/font/font-awesome.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'assets/font/font.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css' %}" media="screen" />
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}" media="screen" />
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/responsive.css' % }" media="screen" />
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/jquery.bxslider.css' %}" media="screen" />
</head>
<body>
<div class="body_wrapper">
  <div class="center">
    <div class="header_area">
      <div class="logo floatleft"><a href="{% url 'Home' %}"><img src="{% static 'images/logo.png' %}" alt="" /></a></div>
    </div>
    <div class="main_menu_area">
      <ul id="nav">
        <li><a href="{% url 'Topic' topic='world' %}">world news</a></li>
        <li><a href="{% url 'Topic' topic='sports' %}">sports</a></li>
        <li><a href="{% url 'Topic' topic='technology' %}">tech</a></li>
        <li><a href="{% url 'Topic' topic='business' %}">business</a></li>
        <li><a href="{% url 'Topic' topic='entertainment' %}">entertainment</a></li>
      </ul>
      <div class="search">
          <form method="post" id="search_form">
            <input type="text" placeholder="Search news" id="s" />
             <button type="submit" id="submit" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span>
              </button>
            <!-- <input type="submit" id="searchform" value="search" /> -->
            <!-- <input type="hidden" value="post" name="post_type" /> -->
          </form>
        </div>
    </div>
    <div class="container-fluid">
    <div class="row">
      <div class="col-sm-1">
      </div>
        <div class="col-sm-10">
          {% for val in Topic %}
            <div class="card">
                <div class="card-horizontal">
                    <div class="img-square-wrapper">
                        <img class="card_img" src={{val.urlToImage}} alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h2 class="card-title" >{{val.title}}</h2>
                        <p class="card-text">
                            {{val.description}}
                        </p>
                        <a href={{val.url}}><button type="button" class="btn btn-danger btn-sm" style="color: black;margin-bottom: 10px">Read More</button></a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
   </div>
</div>
<script type="text/javascript" src="{% static 'assets/js/jquery-min.js' %}"></script> 
<script type="text/javascript" src="{% static 'assets/js/bootstrap.min.js' %}"></script> 
<script type="text/javascript" src="{% static 'assets/js/jquery.bxslider.js' %}"></script> 
<script type="text/javascript" src="{% static 'assets/js/selectnav.min.js' %}"></script> 
<script type="text/javascript">
selectnav('nav', {
    label: '-Navigation-',
    nested: true,
    indent: '-'
});
selectnav('f_menu', {
    label: '-Navigation-',
    nested: true,
    indent: '-'
});
$('.bxslider').bxSlider({
    mode: 'fade',
    captions: true
});
</script>
</body>
</html>